/* ---- CSS Reset ----- */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    text-decoration: none;
    color: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* --- Nav --- */



/* --- Home --- */



#home{
    display: flex;
    min-height: 100vh;
    align-items: stretch;
    justify-content: center;
}

#particles-js-home{
    flex: 1;
    width: inherit;
    height: 100vh;
    z-index: 1;
    background: #202C39;

    display: flex;
    justify-content: center;
    align-items: center;
}


#landing{
    position: absolute;
    flex: 1;
    z-index: 2;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
        "."
        "heading"
        "sub-heading"
        ".";
}

#name{
    grid-area: heading;
    margin-bottom: 5px;
}

.heading{  
    font-family: EB Garamond;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 96px;
    text-align: center;
    color: #FFFCF9;
}


#titles{
    grid-area: sub-heading;
    margin-top: 5px; 
}

.sub-heading{
    font-family: EB Garamond;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 36px;
    text-align: center;
    color: #FFFCF9;
}

/* --- About --- */


#about{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

#particles-js-about{
    flex: 1;
    width: inherit;
    height: 100vh;
    z-index: 1;
    background: #283845;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

#about-container{
    flex: 1;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 1;

    display: grid;
    grid-template-rows: 30vh 70vh;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "heading heading"
        "left-about right-about";

    justify-items: center;
}

#about-heading-container{
    grid-area: heading;
    align-self: flex-end;

    margin-bottom: 1.5%;

    width: 145vh;
    height: 15vh;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.section-heading{

    font-family: EB Garamond;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 64px;
    text-align: center;

    color: #FFFCF9;
}

#right-about{
    grid-area: right-about;

    display: flex;
    justify-content: center;
    align-content: center;
}

#about-text-container{
    margin-top: 4%;
    margin-right: 30%;
    margin-left: 5%;

}

#about-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-end;
}

#hey{

    font-family: Gloria Hallelujah;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 24px;

    color: #FFFCF9
}

#leo{

    font-family: Gloria Hallelujah;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 36px;

    color: #F3D79B;

    margin-left: 30px;
}

#about-text p{
    font-family: EB Garamond;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 18px;

    color: #FFFCF9;

    margin-left: 30px;
}

#left-about{
    grid-area: left-about;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;


}

#left-about .image-container{

    margin-left: 200px;
    margin-top: -60px;

    width: 70vh;
    height: 50vh;
    background: #F2D492;

    display: flex;
    justify-content: center;
    align-content: center;
}


#me{
    position: absolute;
    height: inherit;
    width: inherit;
}




/* --- Gallery --- */

#gallery{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

#particles-js-gallery{
    flex: 1;
    width: inherit;
    height: 100vh;
    z-index: 1;
    background: #B8B08D;

    display: flex;
    justify-content: center;
    align-items: center;
}

#gallery-container{
    flex: 1;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 1;

    display: grid;
    grid-template-rows: 30vh 70vh;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "heading"
        "gallery"

    justify-items: center;
}

#gallery-heading-container{

    display: flex;
    align-content: flex-end;
    justify-content: center;

    margin-top: 5%;
}

#overlay{
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 30px;
    background: #F2D492;

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    -webkit-box-shadow: 0px 3px 10px 0px rgba(50,54,66,1);
    -moz-box-shadow: 0px 3px 10px 0px rgba(50,54,66,1);
    box-shadow: 0px 3px 10px 0px rgba(50,54,66,1);
}

#gallery-text{
    background: #F29559;
    margin-right: 200px;
    margin-left: 200px;
    padding-bottom: 20px;
    padding-top: 10px;


    display: flex;
    justify-content: center;
    align-content: center;
}

#overlay h1{

    font-family: EB Garamond;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 48px;
    text-align: center;

    color: #FFFCF9;
}



/* --- Projects --- */

#projects{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

#particles-js-projects{
    flex: 1;
    width: inherit;
    height: 100vh;
    z-index: 1;
    background: #F2D492;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* --- Contact --- */

#contact{
    display: flex;
    max-height: 75vh;
    align-items: center;
    justify-content: center;
}

#particles-js-contact{
    flex: 1;
    width: inherit;
    height: 100vh;
    z-index: 1;
    background: #F29559;

    display: flex;
    justify-content: center;
    align-items: center;
}

#contact-container{
    flex: 1;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 1;

    display: grid;
    grid-template-rows: 30vh 10vh 60vh;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "heading"
        "sub-heading"
        "contact";
    justify-content: flex-start;
}

#contact-container h1{
    align-self: flex-end;
    text-align: left;
    margin-left: 100px;

}

#contact-container h2{
    align-self: flex-start;
    text-align: left;
    margin-left: 100px;
}

/* --- Work-In-Progress --- */

.wip{
    font-family: EB Garamond;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 96px;
    text-align: center;
    color: #FFFCF9;
}
