/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ---- CSS Reset ----- */

#home{
    display: flex;
    min-height: 100vh;
    align-items: stretch;
    justify-content: center;
}

#particles-js-home, #particles-js-gallery{
    flex: 1;
    width: 100vh;
    height: 100vh;
    z-index: 1;
    background: #1D4D66;

    display: flex;
    justify-content: center;
    align-items: center;
}


#landing{
    position: absolute;
    flex: 1;
    z-index: 2;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
        "."
        "heading"
        "sub-heading"
        ".";

}

#heading{  
    grid-area: heading;

    font-family: EB Garamond;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 96px;
    text-align: center;
    color: #FFFCF9;

    margin-bottom: 5px;
    transition: all .2s ease-in-out;
}

#heading:hover{
    transform: scale(1.1);
}


#sub-heading{
    grid-area: sub-heading;
    
    font-family: EB Garamond;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 36px;
    text-align: center;
    color: #FFFCF9;

    margin-top: 5px;
}

#menu{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    
    flex: 1;
    background: #8C1919;
    z-index: 0;
}


ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: inherit;
}

.nav-item{
    font-family: EB Garamond;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 32px;
    text-align: center;
    color: #FFFCF9;
    
    margin: 10px;
    padding: 5px;
    
    transition: all .2s ease-in-out;
}

.nav-item:hover{
    transform: scale(1.1);
}


.social-media{
    grid-area: social-media;
    align-self: end;
    
}

#instagram, #linkedin{
    padding: 5px;
    transition: all .2s ease-in-out;
}

#instagram:hover{
    transform: scale(1.2);
}

#linkedin:hover{
    transform: scale(1.2);
}

#landing-container{
    grid-area: landing;
    display: flex;

    height: 165px;
    width: 170px;

    justify-content: center;
    align-items: center;

    background-color: #8C1919;
}

#sebastian{
    height: 125px;
    width: 130px;
}

#album{
    flex: 1;
    background: #8C1919;
    z-index: 0;
}

#photo{
    flex: 1;
    background: #F7F2E6;
}


#gallery{
    display: flex;
    min-height: 100vh;
    align-items: stretch;
    justify-content: space-between;
    
}

